In [148]:
import pandas as pd
import numpy as np
import json

In [149]:
path = '/Users/pithlaohavirojana/desktop/Reconcile/December/9-14 Dec 2022/'

# Import OMS

In [150]:
oms = pd.read_excel(path+'oms.xlsx')

In [151]:
oms

,Order Status,Delivery Type,Shopping Method,Order Reference,Ticket No,Created Date,Status Date,Checkout Store,Checkout Date,Payment Type,...,Tender Type,Delivery Charges,Voucher Amount,Instant Coupon,Clubcard Discount,Order Total Price (orderSubTotalWithDiscount),Grand Total,Collect Amount,Payment ID,Payment Reference No
0,COMPLETE,OnDemand,HD,CPTH2158019,1.0,2022-12-09,2022-12-09,1301.0,2022-12-09,POLCC,...,CreditCard,0.0,NaN,30.0,0.0,424.00,394.00,394.00,6705448058206483703275,1301N847u9WuT1670544766
1,COMPLETE,OnDemand,HD,CPTH2158022,1.0,2022-12-09,2022-12-09,1825.0,2022-12-09,POLCC,...,CreditCard,0.0,35.0,NaN,48.0,494.75,411.75,411.75,6705459805936849504002,1825N034uGp1T1670545661
2,COMPLETE,OnDemand,HD,CPTH2158025,1.0,2022-12-09,2022-12-09,1763.0,2022-12-09,POLCC,...,CreditCard,0.0,NaN,NaN,3.0,93.00,90.00,90.00,6705460085326842304003,1763N683WVubT1670545977
3,COMPLETE,OnDemand,HD,CPTH2158028,1.0,2022-12-09,2022-12-09,3357.0,2022-12-09,POD,...,CASH,0.0,NaN,NaN,0.0,193.00,193.00,193.00,NaN,NaN
4,COMPLETE,OnDemand,HD,CPTH2158031,1.0,2022-12-09,2022-12-09,3140.0,2022-12-09,POLCC,...,CreditCard,0.0,NaN,NaN,68.0,168.00,100.00,100.00,6705474697386788804044,3140N994esAMT1670547436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49361,COMPLETE,OnDemand,HD,CPTH52402330,22.0,2022-12-14,2022-12-14,2936.0,2022-12-14,POD,...,CASH,0.0,NaN,NaN,0.0,110.00,110.00,110.00,NaN,NaN
49362,COMPLETE,OnDemand,HD,CPTH52402333,15.0,2022-12-14,2022-12-14,1682.0,2022-12-14,POD,...,CASH,0.0,NaN,NaN,0.0,17.00,17.00,17.00,NaN,NaN
49363,COMPLETE,OnDemand,HD,CPTH52402336,15.0,2022-12-14,2022-12-14,3419.0,2022-12-14,POD,...,CASH,0.0,NaN,NaN,0.0,385.00,385.00,385.00,NaN,NaN
49364,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49365,Applied filters:\nFLAG_EXCLUDE_PAYONDELIVERY i...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Import Loginext

In [152]:
loginext = pd.read_csv(path+'loginext.csv')

In [153]:
loginext = loginext.rename(columns = {'Order No.':'Order Reference'})
loginext

,AWB No,Order Reference,Client Name,Order Store,Order Store Description,Origin,Destination,Destination Latitude,Destination Longitude,Order Type,...,Fleet Actual Cost,Destination City,Current Manifest ID,Pickup Start Time,Pickup End Time,Deliver Wait Start Time,Deliver Wait End Time,Preparation Time (Min),Count of Tracking Records,Ready To Dispatch
0,2006323,CPTH81964085,GoSoft (Thailand) Co. Ltd,5082,NaN,5082,"C2QF+Q4X,-,ตำบล มะเร็ต,THAILAND,84310",9.4395,100.0229,Delivery,...,NaN,ตำบล มะเร็ต,NaN,-,-,-,-,-,0,N
1,2059192,CPTH82010006,GoSoft (Thailand) Co. Ltd,5525,NaN,5525,"1166/2 ม.1 ถ.ทางหลวงหมายเลข304,-,ตำบลพนมสารคาม...",13.7443,101.3570,Delivery,...,NaN,อำเภอพนมสารคาม,NaN,-,-,-,-,-,0,N
2,2059090,CPTH82009946,GoSoft (Thailand) Co. Ltd,5525,NaN,5525,"1166/2 ม.1 ถ.ทางหลวงหมายเลข304,-,ตำบลพนมสารคาม...",13.7443,101.3570,Delivery,...,NaN,อำเภอพนมสารคาม,NaN,-,-,-,-,-,0,N
3,2059212,CPTH82010024,GoSoft (Thailand) Co. Ltd,5525,NaN,5525,"1166/2 ม.1 ถ.ทางหลวงหมายเลข304,-,ตำบลพนมสารคาม...",13.7443,101.3570,Delivery,...,NaN,อำเภอพนมสารคาม,NaN,-,-,-,-,-,0,N
4,2060615,CPTH82010972,GoSoft (Thailand) Co. Ltd,5525,NaN,5525,"1166/2 ม.1 ถ.ทางหลวงหมายเลข304,-,ตำบลพนมสารคาม...",13.7443,101.3570,Delivery,...,NaN,อำเภอพนมสารคาม,NaN,-,-,-,-,-,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22029,2002811,CPTH81961991,GoSoft (Thailand) Co. Ltd,5040,NaN,5040,"เอ็ม จตุจักร 888,แขวง จอมพล,เขตจตุจักร,THAILAN...",13.7973,100.5518,Delivery,...,NaN,เขตจตุจักร,NaN,-,-,-,-,-,51,Y
22030,2002842,CPTH81962060,GoSoft (Thailand) Co. Ltd,5040,NaN,5040,"9/20ซอยลาดพร้าววังหิน64/1,แขวงลาดพร้าว,เขตลาดพ...",13.8254,100.5933,Delivery,...,NaN,เขตลาดพร้าว,NaN,-,-,-,-,-,32,Y
22031,2002881,CPTH81962132,GoSoft (Thailand) Co. Ltd,5045,NaN,5045,"76/213 หมู่ 6 ถนน กาญจนาภิเษก,ตำบล บางใหญ่,อำเ...",13.8289,100.3764,Delivery,...,NaN,อำเภอบางใหญ่,NaN,-,-,-,-,-,0,Y
22032,1981316,CPTH81944138,GoSoft (Thailand) Co. Ltd,5040,NaN,5040,"15 ซอย อินทามระ 25,แขวง สามเสนใน,เขตพญาไท,THAI...",13.7898,100.5585,Delivery,...,NaN,เขตพญาไท,NaN,-,-,-,-,-,-,Y
22033,1969622,CPTH81933233,GoSoft (Thailand) Co. Ltd,5049,NaN,5049,"343 พระราม 6 ซอย 18 343,แขวง ทุ่งพญาไท,เขตราชเ...",13.7564,100.5241,Delivery,...,NaN,เขตราชเทวี,NaN,-,-,-,-,-,-,Y

# 1. MAP OMS to Loginext

In [154]:
mapp = pd.merge(oms,loginext,on='Order Reference',how='left')

In [155]:
mapp['Delivery Type'].value_counts()

OnDemand     32905
Scheduled    16459
Name: Delivery Type, dtype: int64

In [156]:
mapp = mapp.loc[(mapp['Delivery Type'] == 'Scheduled') ]

In [157]:
mapp = mapp.reset_index()

In [158]:
mapp

,index,Order Status_x,Delivery Type,Shopping Method,Order Reference,Ticket No,Created Date,Status Date,Checkout Store,Checkout Date,...,Fleet Actual Cost,Destination City,Current Manifest ID,Pickup Start Time,Pickup End Time,Deliver Wait Start Time,Deliver Wait End Time,Preparation Time (Min),Count of Tracking Records,Ready To Dispatch
0,5057,COMPLETE,Scheduled,CC,CPTH11707943,31.0,2022-12-09,2022-12-10,5525.0,2022-12-10,...,NaN,อำเภอพนมสารคาม,NaN,-,-,-,-,-,0,N
1,5058,COMPLETE,Scheduled,CC,CPTH11707964,27.0,2022-12-09,2022-12-10,5525.0,2022-12-10,...,NaN,อำเภอพนมสารคาม,NaN,-,-,-,-,-,0,N
2,5059,COMPLETE,Scheduled,CC,CPTH11708003,201.0,2022-12-09,2022-12-10,5088.0,2022-12-10,...,NaN,อำเภอเมืองชุมพร,NaN,-,-,-,-,-,5,N
3,5060,COMPLETE,Scheduled,CC,CPTH11708087,42.0,2022-12-09,2022-12-10,5505.0,2022-12-10,...,NaN,อำเภอเมือง,NaN,-,-,-,-,-,0,N
4,5061,COMPLETE,Scheduled,CC,CPTH11708093,29.0,2022-12-09,2022-12-10,5525.0,2022-12-10,...,NaN,อำเภอพนมสารคาม,NaN,-,-,-,-,-,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16454,43970,COMPLETE,Scheduled,HD,CPTH82015520,5.0,2022-12-13,2022-12-14,5012.0,2022-12-14,...,NaN,Khet Khan Na Yao,NaN,-,-,-,-,-,75,Y
16455,43971,COMPLETE,Scheduled,HD,CPTH82015529,9.0,2022-12-13,2022-12-14,5534.0,2022-12-14,...,NaN,เมือง,NaN,-,-,-,-,-,1,Y
16456,43972,COMPLETE,Scheduled,HD,CPTH82015535,1.0,2022-12-13,2022-12-14,6428.0,2022-12-14,...,NaN,Amphoe Trakan Phuet Phon,NaN,-,-,-,-,-,0,Y
16457,43973,COMPLETE,Scheduled,HD,CPTH82015555,3.0,2022-12-13,2022-12-14,5518.0,2022-12-14,...,NaN,อำเภอท่าศาลา,NaN,-,-,-,-,-,3,Y
16458,43974,COMPLETE,Scheduled,HD,CPTH82015606,3.0,2022-12-13,2022-12-14,5017.0,2022-12-14,...,NaN,อำเภอเมือง,NaN,-,-,-,-,-,3,Y

In [159]:
sum_null = mapp['Ready To Dispatch'].isna().sum()
sum_null

0

In [160]:
list(mapp.columns)

['index',
 'Order Status_x',
 'Delivery Type',
 'Shopping Method',
 'Order Reference',
 'Ticket No',
 'Created Date',
 'Status Date',
 'Checkout Store',
 'Checkout Date',
 'Payment Type_x',
 'Payment Status',
 'Tender Type',
 'Delivery Charges',
 'Voucher Amount',
 'Instant Coupon',
 'Clubcard Discount',
 'Order Total Price (orderSubTotalWithDiscount)',
 'Grand Total',
 'Collect Amount',
 'Payment ID',
 'Payment Reference No',
 'AWB No',
 'Client Name',
 'Order Store',
 'Order Store Description',
 'Origin',
 'Destination',
 'Destination Latitude',
 'Destination Longitude',
 'Order Type',
 'Order State',
 'Skill Set',
 'Delivery Location Type',
 'Order Date',
 'Start Date',
 'End Date',
 'Payment Type_y',
 'Order Value',
 'Planned cash at Pickup',
 'Actual cash at Pickup',
 'Planned cash at Delivery',
 'Actual cash at Delivery',
 'Payment Subtype',
 'Transaction Id',
 'Cash Mismatch Reason',
 'Opening Cash',
 'Closing Cash',
 'Order Status_y',
 'Planned Service Time',
 'Service Time',
 'Driver',
 'Driver Mobile Number',
 'DB Employee ID',
 'Assigned Through',
 'Trip No.',
 'Planned Checkout Time',
 'Start Time (Actual)',
 'End Time (Actual)',
 'Planned distance from confirmed to pickup',
 'Actual distance from confirm to pickup',
 'Planned distance from pickup to delivery',
 'Actual distance from pickup to delivery',
 'Total Planned Distance(Km)',
 'Total Distance(Km)',
 'Actual Distance from Hub',
 'Actual Tracked Distance',
 'Start Time (Estimated)',
 'End Time (Estimated)',
 'Time Taken (Difference in Mins.)',
 'Order creation date time',
 'Order confirmed time',
 'Pickup Checkin Time',
 'Pickup Checkout Time',
 'Planned time for Pickup',
 'Actual time to pickup',
 'Actual time at pickup',
 'Order Pickup Lifecycle Time',
 'Delivery Checkin Time',
 'Delivery Checkout Time',
 'Planned time for Delivery',
 'Actual Time to deliver',
 'Actual Time at deliver',
 'Order Delivery Lifecycle Time',
 'Total Order Lifecycle Time',
 'Pickup Checkin Latitude',
 'Pickup Checkin Longitude',
 'Pickup Checkout Latitude',
 'Pickup Checkout Longitude',
 'Deliver Checkin Latitude',
 'Deliver Checkin Longitude',
 'Deliver Checkout Latitude',
 'Deliver Checkout Longitude',
 'Order Creation Medium',
 'Delivered By',
 'Cancelled By',
 'Vehicle No.',
 'Vehicle Type',
 'Order Sequence',
 'Vendor/Customer code',
 'Customer Name',
 'POD count',
 'No. of Trays',
 'Weight (Kg)',
 'Volume (Cc)',
 'Customer comments',
 'Reason',
 'Ratings',
 'No. of Attempts',
 'Territory Enter Time',
 'Territory Exit Time',
 'Delayed',
 'Delayed by (Mins)',
 'Scan Status',
 'Parent Order Number',
 'Territory Name',
 'Priority',
 'Mode Of Assignment',
 'Driver Store Name',
 'Auto Allocate',
 'Pickup notes',
 'Delivery Notes',
 'Customer Contact Number',
 'Pickup Wait Time (in mins)',
 'Deliver Wait Time (in mins)',
 'Pickup Load Time (in mins)',
 'Deliver UnLoad Time (in mins)',
 'shippingCost',
 'parentOrderReferenceId',
 'Service Type',
 'Fleet Estimated Cost',
 'Fleet Actual Cost',
 'Destination City',
 'Current Manifest ID',
 'Pickup Start Time',
 'Pickup End Time',
 'Deliver Wait Start Time',
 'Deliver Wait End Time',
 'Preparation Time (Min)',
 'Count of Tracking Records',
 'Ready To Dispatch']

In [161]:
target_col = ['Order Status_x','Order Reference','Ticket No',
 'Created Date',
 'Status Date',
 'Checkout Store',
 'Checkout Date',
 'Payment Type_x',
 'Payment Status',
 'Tender Type',
'Voucher Amount',
 'Instant Coupon',
 'Clubcard Discount',
 'Order Total Price (orderSubTotalWithDiscount)',
 'Grand Total',
 'Collect Amount',
 'Payment ID',
 'Payment Reference No',
              'Order Value', 'Actual cash at Delivery',
 'Payment Subtype',
 'Transaction Id',
              'Delivered By',
 'Cash Mismatch Reason','Order Status_y','Trip No.','Ready To Dispatch'


             ]

In [162]:
mapp = mapp[target_col]

In [163]:
mapp = mapp.rename(columns={'Order Status_x': 'OMS Status','Payment Type_x': 'Payment Type OMS', 'Order Status_y': 'Loginext Status'})

In [164]:
mapp

,OMS Status,Order Reference,Ticket No,Created Date,Status Date,Checkout Store,Checkout Date,Payment Type OMS,Payment Status,Tender Type,...,Payment Reference No,Order Value,Actual cash at Delivery,Payment Subtype,Transaction Id,Delivered By,Cash Mismatch Reason,Loginext Status,Trip No.,Ready To Dispatch
0,COMPLETE,CPTH11707943,31.0,2022-12-09,2022-12-10,5525.0,2022-12-10,PAS,AUTHORIZED,CASH,...,NaN,768.0,768,CASH,NaN,Driver,NaN,Delivered,TRIP-128123,N
1,COMPLETE,CPTH11707964,27.0,2022-12-09,2022-12-10,5525.0,2022-12-10,PAS,AUTHORIZED,CASH,...,NaN,2400.0,2400,CASH,NaN,Driver,NaN,Delivered,TRIP-128123,N
2,COMPLETE,CPTH11708003,201.0,2022-12-09,2022-12-10,5088.0,2022-12-10,PAS,AUTHORIZED,CASH,...,NaN,437.0,437,CASH,NaN,Driver,NaN,Delivered,TRIP-128127,N
3,COMPLETE,CPTH11708087,42.0,2022-12-09,2022-12-10,5505.0,2022-12-10,PAS,AUTHORIZED,CASH,...,NaN,288.0,288,CASH,NaN,Driver,NaN,Delivered,TRIP-128002,N
4,COMPLETE,CPTH11708093,29.0,2022-12-09,2022-12-10,5525.0,2022-12-10,PAS,AUTHORIZED,CASH,...,NaN,788.0,788,CASH,NaN,Driver,NaN,Delivered,TRIP-128123,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16454,COMPLETE,CPTH82015520,5.0,2022-12-13,2022-12-14,5012.0,2022-12-14,POD,AUTHORIZED,CASH,...,NaN,302.0,302,CASH,-,Driver,NaN,Delivered,TRIP-130513,Y
16455,COMPLETE,CPTH82015529,9.0,2022-12-13,2022-12-14,5534.0,2022-12-14,POD,AUTHORIZED,CASH,...,NaN,900.0,900,CASH,-,Driver,NaN,Delivered,TRIP-130433,Y
16456,COMPLETE,CPTH82015535,1.0,2022-12-13,2022-12-14,6428.0,2022-12-14,POLCC,SETTLED,CreditCard,...,6428N601K46HT1670950946,2202.0,-,-,-,Driver,-,Delivered,TRIP-130434,Y
16457,COMPLETE,CPTH82015555,3.0,2022-12-13,2022-12-14,5518.0,2022-12-14,POD,AUTHORIZED,TrueMoney,...,221214123907300OQ39D,121.0,121,TrueMoney,221214123907300OQ39D,Driver,NaN,Delivered,TRIP-130457,Y
16458,COMPLETE,CPTH82015606,3.0,2022-12-13,2022-12-14,5017.0,2022-12-14,POD,AUTHORIZED,CASH,...,NaN,475.0,475,CASH,NaN,Driver,NaN,Delivered,TRIP-130488,Y

In [165]:
mapp.to_excel(path+"mapp.xlsx")

# 2. MAP Loginext to OMS¶

In [166]:
mapp1 = pd.merge(loginext,oms,on='Order Reference',how='left')

In [167]:
sum_null = mapp1['Grand Total'].isna().sum()
sum_null

5636

# 3. Sale Duplicate
- ask for sale duplicate excel file from checkout x bau
- sale duplicate is when you have the same order ref, but different checkout ID. 
- need to map the order ref with the order ref with oms

In [168]:
xls = pd.ExcelFile(path+'DUPLICATED_ORDERS_20221215.xlsx')
xls.sheet_names

['Orders', 'Details']

In [169]:
sale_dup_order = pd.read_excel(xls,sheet_name='Orders')
sale_dup_details = pd.read_excel(xls,sheet_name='Details')

In [170]:
sale_dup_order

        orderRef  total
0   CPTH52239533      2
1   CPTH52183484      2
2   CPTH52267286      2
3   CPTH52373132      2
4   CPTH52236143      2
..           ...    ...
83  CPTH52245014      2
84  CPTH52191353      2
85  CPTH52295519      2
86  CPTH52268945      2
87  CPTH52191128      2

[88 rows x 2 columns]

In [171]:
sale_dup_details

,checkoutTimeISOFormat,countryCode,storeNumber,orderRef,currentFileName,id,lastIdempotencyKey,Unnamed: 7,status,Unnamed: 9,ticketNumber
0,2022-12-12T10:41:29+07:00,MY,5004,CPMY7915460,ES_TD20221212P106T0090SDT20221212034002AS,9DB38E1B244F4102D875D763B2769FD6CC9B420B0AFE36...,91f4343a-53db-433d-b35f-7313fd7eac30,NaN,CANCELLED,NaN,90
1,2022-12-12T11:46:36+07:00,MY,5004,CPMY7915460,ES_TD20221212P106T0147SDT20221212052957AS,33B21EDDCEE3A525C9C1DF87C4E2F27D2FC16511807FBA...,1961a3dd-0fa8-4a21-9876-3eb1c4500786,NaN,CANCELLED,NaN,147
2,2022-12-11T07:19:18+07:00,MY,5019,CPMY7911380,ES_TD20221211P106T0017SDT20221211001753AS,7BD001BDB39E02A10C416CD9C999FDA949B5204DEF8FFF...,73e3dea0-78e9-11ed-9821-066422eb01e6,NaN,CANCELLED,NaN,17
3,2022-12-11T08:34:54+07:00,MY,5019,CPMY7911380,ES_TD20221211P106T0042SDT20221211013329AS,21C07D22F49CF28B4580AE67CAF4C322B46EFB9AE9BFF0...,035fd980-78f4-11ed-9821-066422eb01e6,NaN,CANCELLED,NaN,42
4,2022-12-10T11:31:25+07:00,MY,5502,CPMY7908395,ES_TD20221210P106T0101SDT20221210043002AS,7B0C9E83C7A3BB3F8255E7D82A32BE57995E2345C08502...,81ae7730-7843-11ed-9821-066422eb01e6,NaN,CANCELLED,NaN,101
...,...,...,...,...,...,...,...,...,...,...,...
172,2022-12-01T19:31:35+07:00,TH,6619,CPTH52191353,ES_TD20221201P106T0022SDT20221201123021AS,ADB5A489A38E51284C3EED04B38F0F9ADCBBE66C3B3C8A...,17f32870-7174-11ed-b2d2-02b08a20d2cc,NaN,SUCCESS,NaN,22
173,2022-12-03T10:16:56+07:00,TH,6619,CPTH52210025,ES_TD20221203P106T0004SDT20221203031540AS,4A148ED401005FAF46AF74028B6A10240C6CD952A182E7...,f1170500-72b8-11ed-b0f5-027c6082ac1a,NaN,SUCCESS,NaN,4
174,2022-12-03T10:16:56+07:00,TH,6619,CPTH52210025,ES_TD20221203P106T0003SDT20221203031539AS,03C9728E666798E1C6FCB409C59EA3394B2FFE4826427E...,f0e76980-72b8-11ed-b0f5-027c6082ac1a,NaN,SUCCESS,NaN,3
175,2022-12-07T17:57:14+07:00,TH,6624,CPTH52285328,ES_TD20221207P106T0007SDT20221207105552AS,7E0E9E8ED4FCAD0D897D448FBA1F753E2EFD87CF1456BA...,e834b190-761d-11ed-b27a-0680094d83be,NaN,SUCCESS,NaN,7
176,2022-12-07T17:57:14+07:00,TH,6624,CPTH52285328,ES_TD20221207P106T0008SDT20221207105553AS,095C417A74A3F7ADC7CBA36C521A1EB677C4F4A4DDD313...,e87dc880-761d-11ed-b27a-0680094d83be,NaN,SUCCESS,NaN,8

In [172]:
sale_dup_details.columns

Index(['checkoutTimeISOFormat', 'countryCode', 'storeNumber', 'orderRef',
       'currentFileName', 'id', 'lastIdempotencyKey', 'Unnamed: 7', 'status',
       'Unnamed: 9', 'ticketNumber'],
      dtype='object')

In [173]:
sale_dup_order = sale_dup_order.rename(columns = {'orderRef':'Order Reference'})

In [174]:
sale_dup_details = sale_dup_details.rename(columns = {'orderRef':'Order Reference'})

In [175]:
sale_dup_order

   Order Reference  total
0     CPTH52239533      2
1     CPTH52183484      2
2     CPTH52267286      2
3     CPTH52373132      2
4     CPTH52236143      2
..             ...    ...
83    CPTH52245014      2
84    CPTH52191353      2
85    CPTH52295519      2
86    CPTH52268945      2
87    CPTH52191128      2

[88 rows x 2 columns]

In [176]:
sale_dup_df = pd.merge(sale_dup_order,sale_dup_details,on='Order Reference',how='left')

In [249]:
#mapp with OMS
sale_dup_df = pd.merge(sale_dup_order,oms,on='Order Reference',how='left')

In [248]:
sale_dup_df

,Order Reference,total,Order Status,Delivery Type,Shopping Method,Ticket No,Created Date,Status Date,Checkout Store,Checkout Date,...,Tender Type,Delivery Charges,Voucher Amount,Instant Coupon,Clubcard Discount,Order Total Price (orderSubTotalWithDiscount),Grand Total,Collect Amount,Payment ID,Payment Reference No
0,CPTH52239533,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CPTH52183484,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CPTH52267286,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CPTH52373132,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CPTH52236143,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,CPTH52245014,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,CPTH52191353,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,CPTH52295519,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,CPTH52268945,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,CPTH52191128,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
sale_dup_df = sale_dup_df[sale_dup_df['countryCode'] == 'TH']

In [178]:
sale_dup_df = sale_dup_df.reset_index()

In [179]:
sale_dup_df.to_excel(path+"sale_dup.xlsx")

# 4. Loginext: Dispatch N vs. OMS Collect Amount

In [237]:
loginext_n = loginext.loc[(loginext['Skill Set'] == 'HD') & (loginext['Ready To Dispatch'] == 'N') ]

In [238]:
loginext_n = pd.merge(loginext_n,oms,on='Order Reference',how='left')

In [239]:
loginext_n = loginext_n.loc[(loginext_n['Tender Type'] == 'CASH')]

In [240]:
loginext_n

,AWB No,Order Reference,Client Name,Order Store,Order Store Description,Origin,Destination,Destination Latitude,Destination Longitude,Order Type,...,Tender Type,Delivery Charges,Voucher Amount,Instant Coupon,Clubcard Discount,Order Total Price (orderSubTotalWithDiscount),Grand Total,Collect Amount,Payment ID,Payment Reference No
716,2044761,CPTH81997832,GoSoft (Thailand) Co. Ltd,5175,NaN,5175,"124,ตำบล บางพูด,อำเภอเมืองปทุมธานี,THAILAND,12000",14.0602,100.5909,Delivery,...,CASH,0.0,NaN,NaN,0.0,11040.00,11040.00,11040.0,NaN,NaN
717,2044774,CPTH81997868,GoSoft (Thailand) Co. Ltd,5133,NaN,5133,"248/19 ม.5,ตำบล สิชล,อำเภอ สิชล,THAILAND,80120",9.0057,99.8988,Delivery,...,CASH,0.0,NaN,NaN,0.0,356.00,356.00,356.0,NaN,NaN
718,2044773,CPTH81997865,GoSoft (Thailand) Co. Ltd,5133,NaN,5133,"248/19 ม.5,ตำบล สิชล,อำเภอ สิชล,THAILAND,80120",9.0057,99.8988,Delivery,...,CASH,0.0,NaN,NaN,0.0,356.00,356.00,356.0,NaN,NaN
719,2044767,CPTH81997847,GoSoft (Thailand) Co. Ltd,5133,NaN,5133,"248/19 ม.5,ตำบล สิชล,อำเภอ สิชล,THAILAND,80120",9.0057,99.8988,Delivery,...,CASH,0.0,NaN,NaN,0.0,356.00,356.00,356.0,NaN,NaN
720,2044860,CPTH11716859,GoSoft (Thailand) Co. Ltd,5110,NaN,5110,"57/69 ถนน พระองค์ดำ,ตำบล ในเมือง,ตำบล ในเมือง,...",16.8205,100.2682,Delivery,...,CASH,0.0,NaN,NaN,0.0,1840.00,1840.00,1840.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,2021575,CPTH81975947,GoSoft (Thailand) Co. Ltd,5511,NaN,5511,"บ้านน้อยจอมศรี ฮางโฮง,ตำบล ฮางโฮง,อำเภอเมืองสก...",17.2136,104.1027,Delivery,...,CASH,0.0,NaN,NaN,3.0,527.00,524.00,524.0,NaN,NaN
1299,2021678,CPTH11709848,GoSoft (Thailand) Co. Ltd,5518,NaN,5518,"JVXW+MH6,ตำบล ไทยบุรี,อำเภอท่าศาลา,THAILAND,80160",8.6492,99.8964,Delivery,...,CASH,0.0,NaN,NaN,0.0,425.00,425.00,568.5,NaN,NaN
1300,2021755,CPTH81976346,GoSoft (Thailand) Co. Ltd,5021,NaN,5021,"14/1 ซอย ติวานนท์ 24 แยก 2,บางกระสอ,อำเภอเมือง...",13.8654,100.5248,Delivery,...,CASH,0.0,NaN,NaN,11.0,1170.25,1159.25,1230.0,NaN,NaN
1301,2021809,CPTH81976454,GoSoft (Thailand) Co. Ltd,5150,NaN,5150,"พาเจริญอาหารสัตว์,ตำบล นาสะไมย์,อำเภอเมืองยโสธ...",15.9036,104.2615,Delivery,...,CASH,0.0,NaN,NaN,6.0,695.00,689.00,689.0,NaN,NaN
1303,2021865,CPTH81976595,GoSoft (Thailand) Co. Ltd,5501,NaN,5501,"19 หมู่ 5,แคนใหญ่,เมืองร้อยเอ็ด,THAILAND,45000",15.9046,103.6745,Delivery,...,CASH,0.0,NaN,NaN,0.0,1369.00,1369.00,1369.0,NaN,NaN

In [241]:
loginext_n['Grand Total'].isna().sum()

0

In [242]:
loginextt_n = loginext_n[target_col]

In [243]:
loginextt_n.columns

Index(['Order Status_x', 'Order Reference', 'Ticket No', 'Created Date',
       'Status Date', 'Checkout Store', 'Checkout Date', 'Payment Type_x',
       'Payment Status', 'Tender Type', 'Voucher Amount', 'Instant Coupon',
       'Clubcard Discount', 'Order Total Price (orderSubTotalWithDiscount)',
       'Grand Total', 'Collect Amount', 'Payment ID', 'Payment Reference No',
       'Order Value', 'Actual cash at Delivery', 'Payment Subtype',
       'Transaction Id', 'Delivered By', 'Cash Mismatch Reason',
       'Order Status_y', 'Trip No.', 'Ready To Dispatch'],
      dtype='object')

In [244]:
loginextt_n = loginextt_n.rename(columns={'Order Status_x': 'Loginext Status','Payment Type_x': 'Payment Type Loginext', 'Order Status_y': 'OMS Status'})

In [245]:
loginextt_n.reset_index(drop=True)

,Loginext Status,Order Reference,Ticket No,Created Date,Status Date,Checkout Store,Checkout Date,Payment Type Loginext,Payment Status,Tender Type,...,Payment Reference No,Order Value,Actual cash at Delivery,Payment Subtype,Transaction Id,Delivered By,Cash Mismatch Reason,OMS Status,Trip No.,Ready To Dispatch
0,Delivered,CPTH81997832,12.0,2022-12-11,2022-12-13,5175.0,2022-12-13,COD,AUTHORIZED,CASH,...,NaN,11040.0,11040,CASH,-,Driver,NaN,COMPLETE,TRIP-129909,N
1,Delivered,CPTH81997868,24.0,2022-12-11,2022-12-13,5133.0,2022-12-13,COD,AUTHORIZED,CASH,...,NaN,356.0,356,CASH,-,Driver,NaN,COMPLETE,TRIP-130077,N
2,Delivered,CPTH81997865,20.0,2022-12-11,2022-12-13,5133.0,2022-12-13,COD,AUTHORIZED,CASH,...,NaN,356.0,356,CASH,-,Driver,NaN,COMPLETE,TRIP-130077,N
3,Delivered,CPTH81997847,22.0,2022-12-11,2022-12-13,5133.0,2022-12-13,COD,AUTHORIZED,CASH,...,NaN,356.0,356,CASH,-,Driver,NaN,COMPLETE,TRIP-130077,N
4,Delivered,CPTH11716859,31.0,2022-12-11,2022-12-13,5110.0,2022-12-13,COD,AUTHORIZED,CASH,...,NaN,1840.0,1840,CASH,NaN,Driver,NaN,COMPLETE,TRIP-129853,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Delivered,CPTH81975947,12.0,2022-12-09,2022-12-10,5511.0,2022-12-10,COD,AUTHORIZED,CASH,...,NaN,524.0,524,CASH,-,Driver,NaN,COMPLETE,TRIP-128108,N
205,Delivered,CPTH11709848,22.0,2022-12-09,2022-12-10,5518.0,2022-12-10,COD,AUTHORIZED,CASH,...,NaN,568.5,568.5,CASH,-,Driver,NaN,COMPLETE,TRIP-128007,N
206,Delivered,CPTH81976346,52.0,2022-12-09,2022-12-10,5021.0,2022-12-10,COD,AUTHORIZED,CASH,...,NaN,1230.0,1230,CASH,-,Driver,NaN,COMPLETE,TRIP-127987,N
207,Delivered,CPTH81976454,4.0,2022-12-09,2022-12-10,5150.0,2022-12-10,COD,AUTHORIZED,CASH,...,NaN,689.0,689,CASH,-,Driver,NaN,COMPLETE,TRIP-127727,N
208,Delivered,CPTH81976595,5.0,2022-12-09,2022-12-10,5501.0,2022-12-10,COD,AUTHORIZED,CASH,...,NaN,1369.0,1369,CASH,-,Driver,NaN,COMPLETE,TRIP-127810,N

In [246]:
loginextt_n.to_excel(path+"loginext_n.xlsx")

# 5. Sale 0

In [190]:
sale_0 = loginext.loc[(loginext['Payment Subtype'] == 'CASH') & (loginext['Actual cash at Delivery'] == '0')]
sale_0 = pd.merge(sale_0,oms,on='Order Reference',how='left')

In [191]:
sale_0

,AWB No,Order Reference,Client Name,Order Store,Order Store Description,Origin,Destination,Destination Latitude,Destination Longitude,Order Type,...,Tender Type,Delivery Charges,Voucher Amount,Instant Coupon,Clubcard Discount,Order Total Price (orderSubTotalWithDiscount),Grand Total,Collect Amount,Payment ID,Payment Reference No
0,2017702,CPTH81972092,GoSoft (Thailand) Co. Ltd,5001,NaN,5001,"683/22 ถนน สุขุมวิท 101/1 683/22,แขวง บางจาก,เ...",13.6857,100.6306,Delivery,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
sale_0 = sale_0[target_col]

In [193]:
sale_0 = sale_0.rename(columns={'Order Status_x': 'Loginext Status','Payment Type_x': 'Payment Type Loginext', 'Order Status_y': 'OMS Status'})

In [194]:
sale_0.reset_index(drop=True)

,Loginext Status,Order Reference,Ticket No,Created Date,Status Date,Checkout Store,Checkout Date,Payment Type Loginext,Payment Status,Tender Type,...,Payment Reference No,Order Value,Actual cash at Delivery,Payment Subtype,Transaction Id,Delivered By,Cash Mismatch Reason,OMS Status,Trip No.,Ready To Dispatch
0,Cancelled,CPTH81972092,NaN,NaT,NaT,NaN,NaT,COD,NaN,NaN,...,NaN,420.0,0,CASH,NaN,-,NaN,NaN,TRIP-127705,Y

In [195]:
sale_0.to_excel(path+"sale_0.xlsx")

# 6. Complete By Web

In [196]:
com_web = loginext[(loginext['Delivered By'] == 'DASHBOARD') & (loginext['Payment Subtype'] != 'TrueMoney') ]

In [197]:
com_web = pd.merge(com_web,oms,on='Order Reference',how='left')

In [198]:
com_web = com_web[com_web['Payment Type_x']=='COD']

In [199]:
com_web['Grand Total'].isna().sum()

5

In [200]:
com_web = com_web[target_col]

In [201]:
com_web = com_web.rename(columns={'Order Status_x': 'Loginext Status','Payment Type_x': 'Payment Type Loginext', 'Order Status_y': 'OMS Status'})

In [202]:
com_web.to_excel(path+"com_web.xlsx")

# 7.Complete web with checkout

In [208]:
web_json = pd.read_json(path+"com_web.json")

In [209]:
len(com_web)

13

In [210]:
web_json.columns

Index(['cashierId', 'checkoutTime', 'createdDate', 'currentFileName', 'id',
       'items', 'lastUpdatedDate', 'medias', 'orderRef', 'posNumber', 'status',
       'storeNumber', 'ticketHistory', 'ticketNumber'],
      dtype='object')

In [211]:
web_json = web_json.rename(columns = {'orderRef':'Order Reference'})

In [212]:
json_checkout = web_json[['Order Reference','status','medias']]

In [213]:
json_checkout

   Order Reference   status                                             medias
0     CPTH81962603  SUCCESS                    [{'amount': 634, 'mediaId': 1}]
1     CPTH81967283  SUCCESS                  [{'amount': 11766, 'mediaId': 1}]
2     CPTH11707295  SUCCESS                     [{'amount': 46, 'mediaId': 1}]
3     CPTH11709905  SUCCESS                    [{'amount': 50, 'mediaId': 66}]
4     CPTH81982178  SUCCESS  [{'amount': 50, 'mediaId': 66}, {'amount': 178...
5     CPTH11710511  SUCCESS                    [{'amount': 586, 'mediaId': 1}]
6     CPTH11710505  SUCCESS                    [{'amount': 494, 'mediaId': 1}]
7     CPTH11712881  SUCCESS  [{'amount': 50, 'mediaId': 66}, {'amount': 116...
8     CPTH11713319  SUCCESS                    [{'amount': 483, 'mediaId': 1}]
9     CPTH11714681  SUCCESS                   [{'amount': 9936, 'mediaId': 1}]
10    CPTH82007423  SUCCESS                   [{'amount': 220, 'mediaId': 66}]
11    CPTH82007300  SUCCESS                   [{'amount': 220, 'mediaId': 66}]
12    CPTH11717114  SUCCESS  [{'amount': 212, 'mediaId': 66}, {'amount': 23...
13    CPTH82019494  SUCCESS  [{'amount': 29, 'mediaId': 68}, {'amount': 247...

In [214]:
json_checkout_ex = json_checkout.explode('medias')

In [215]:
json_checkout_ex = json_checkout_ex.reset_index(drop=True)

In [216]:
norm = pd.json_normalize(json_checkout_ex['medias'])

In [217]:
norm.shape

(19, 2)

In [218]:
json_checkout_ex

   Order Reference   status                             medias
0     CPTH81962603  SUCCESS      {'amount': 634, 'mediaId': 1}
1     CPTH81967283  SUCCESS    {'amount': 11766, 'mediaId': 1}
2     CPTH11707295  SUCCESS       {'amount': 46, 'mediaId': 1}
3     CPTH11709905  SUCCESS      {'amount': 50, 'mediaId': 66}
4     CPTH81982178  SUCCESS      {'amount': 50, 'mediaId': 66}
5     CPTH81982178  SUCCESS     {'amount': 178, 'mediaId': 68}
6     CPTH81982178  SUCCESS     {'amount': 104, 'mediaId': 63}
7     CPTH11710511  SUCCESS      {'amount': 586, 'mediaId': 1}
8     CPTH11710505  SUCCESS      {'amount': 494, 'mediaId': 1}
9     CPTH11712881  SUCCESS      {'amount': 50, 'mediaId': 66}
10    CPTH11712881  SUCCESS     {'amount': 1163, 'mediaId': 1}
11    CPTH11713319  SUCCESS      {'amount': 483, 'mediaId': 1}
12    CPTH11714681  SUCCESS     {'amount': 9936, 'mediaId': 1}
13    CPTH82007423  SUCCESS     {'amount': 220, 'mediaId': 66}
14    CPTH82007300  SUCCESS     {'amount': 220, 'mediaId': 66}
15    CPTH11717114  SUCCESS     {'amount': 212, 'mediaId': 66}
16    CPTH11717114  SUCCESS  {'amount': 2324.25, 'mediaId': 1}
17    CPTH82019494  SUCCESS      {'amount': 29, 'mediaId': 68}
18    CPTH82019494  SUCCESS     {'amount': 2476, 'mediaId': 1}

In [219]:
concat = pd.concat([json_checkout_ex[['Order Reference','status']],norm],axis=1)

In [220]:
concat

   Order Reference   status    amount  mediaId
0     CPTH81962603  SUCCESS    634.00        1
1     CPTH81967283  SUCCESS  11766.00        1
2     CPTH11707295  SUCCESS     46.00        1
3     CPTH11709905  SUCCESS     50.00       66
4     CPTH81982178  SUCCESS     50.00       66
5     CPTH81982178  SUCCESS    178.00       68
6     CPTH81982178  SUCCESS    104.00       63
7     CPTH11710511  SUCCESS    586.00        1
8     CPTH11710505  SUCCESS    494.00        1
9     CPTH11712881  SUCCESS     50.00       66
10    CPTH11712881  SUCCESS   1163.00        1
11    CPTH11713319  SUCCESS    483.00        1
12    CPTH11714681  SUCCESS   9936.00        1
13    CPTH82007423  SUCCESS    220.00       66
14    CPTH82007300  SUCCESS    220.00       66
15    CPTH11717114  SUCCESS    212.00       66
16    CPTH11717114  SUCCESS   2324.25        1
17    CPTH82019494  SUCCESS     29.00       68
18    CPTH82019494  SUCCESS   2476.00        1

In [221]:
dft = concat.pivot_table(index='Order Reference', columns='mediaId', values=['amount'],aggfunc='sum').reset_index()

In [222]:
dft

        Order Reference    amount
mediaId                         1     63     66     68
0          CPTH11707295     46.00    NaN    NaN    NaN
1          CPTH11709905       NaN    NaN   50.0    NaN
2          CPTH11710505    494.00    NaN    NaN    NaN
3          CPTH11710511    586.00    NaN    NaN    NaN
4          CPTH11712881   1163.00    NaN   50.0    NaN
5          CPTH11713319    483.00    NaN    NaN    NaN
6          CPTH11714681   9936.00    NaN    NaN    NaN
7          CPTH11717114   2324.25    NaN  212.0    NaN
8          CPTH81962603    634.00    NaN    NaN    NaN
9          CPTH81967283  11766.00    NaN    NaN    NaN
10         CPTH81982178       NaN  104.0   50.0  178.0
11         CPTH82007300       NaN    NaN  220.0    NaN
12         CPTH82007423       NaN    NaN  220.0    NaN
13         CPTH82019494   2476.00    NaN    NaN   29.0

In [223]:
dft.columns

MultiIndex([('Order Reference', ''),
            (         'amount',  1),
            (         'amount', 63),
            (         'amount', 66),
            (         'amount', 68)],
           names=[None, 'mediaId'])

In [224]:
com_web1 = com_web.merge(dft, on='Order Reference', how='left')

/var/folders/9p/44_fh6pj5l9gkhk3g93vvb400000gn/T/ipykernel_6825/3402293531.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  com_web1 = com_web.merge(dft, on='Order Reference', how='left')
/var/folders/9p/44_fh6pj5l9gkhk3g93vvb400000gn/T/ipykernel_6825/3402293531.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  com_web1 = com_web.merge(dft, on='Order Reference', how='left')

In [225]:
com_web1 = com_web1.rename(columns={com_web1.columns[-4]: 'CASH',com_web1.columns[-3]: 'E-Voucher', com_web1.columns[-2]: 'Instant Coupon',com_web1.columns[-1]:'Coin'})

In [226]:
com_web1.to_excel(path+"com_web1.xlsx")

In [227]:
# count_nan = com_web1[[com_web1['CASH'].isnull() & com_web1['E-Voucher'].isnull() & com_web1['Instant Coupon'].isnull() & com_web1['Coin'].isnull()]]
# print(com_web1[count_nan])
# print ('Count of NaN: ' + str(count_nan))

In [228]:
# com_web_null = com_web1[com_web1['medias'].isnull() == True]

In [229]:
# def map_web_json(df_complete_web):
   
#     for index, row in df_complete_web.iterrows():
#         medias = row['medias']
#         flag_nan = row['value_is_NaN']
#         types_tender = []
#         if not flag_nan:
# #             df =  pd.io.json.json_normalize(row['medias'])
# #             print(df['mediaId'].to_list)
# #             print(df['amount'])
#             for media in medias:
#                 if media['mediaId'] == 1:
#                     types_tender.append(1)
#                 else:
#                      types_tender.append(0)
#             if 1 in types_tender:
#                 checkout_tender.append(1)
#             else:
#                 checkout_tender.append(0)
#         else:
#             checkout_tender.append(-1)
#     df_complete_web['checkout_tender'] = checkout_tender
#     return df_complete_web

# 8. Postpone Delivery

In [230]:
raw = mapp.copy()

In [231]:
raw['Difference'] = (raw['Status Date']  - raw['Created Date']).apply(lambda x: x.days)

In [232]:
raw

,OMS Status,Order Reference,Ticket No,Created Date,Status Date,Checkout Store,Checkout Date,Payment Type OMS,Payment Status,Tender Type,...,Order Value,Actual cash at Delivery,Payment Subtype,Transaction Id,Delivered By,Cash Mismatch Reason,Loginext Status,Trip No.,Ready To Dispatch,Difference
0,COMPLETE,CPTH11707943,31.0,2022-12-09,2022-12-10,5525.0,2022-12-10,PAS,AUTHORIZED,CASH,...,768.0,768,CASH,NaN,Driver,NaN,Delivered,TRIP-128123,N,1
1,COMPLETE,CPTH11707964,27.0,2022-12-09,2022-12-10,5525.0,2022-12-10,PAS,AUTHORIZED,CASH,...,2400.0,2400,CASH,NaN,Driver,NaN,Delivered,TRIP-128123,N,1
2,COMPLETE,CPTH11708003,201.0,2022-12-09,2022-12-10,5088.0,2022-12-10,PAS,AUTHORIZED,CASH,...,437.0,437,CASH,NaN,Driver,NaN,Delivered,TRIP-128127,N,1
3,COMPLETE,CPTH11708087,42.0,2022-12-09,2022-12-10,5505.0,2022-12-10,PAS,AUTHORIZED,CASH,...,288.0,288,CASH,NaN,Driver,NaN,Delivered,TRIP-128002,N,1
4,COMPLETE,CPTH11708093,29.0,2022-12-09,2022-12-10,5525.0,2022-12-10,PAS,AUTHORIZED,CASH,...,788.0,788,CASH,NaN,Driver,NaN,Delivered,TRIP-128123,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16454,COMPLETE,CPTH82015520,5.0,2022-12-13,2022-12-14,5012.0,2022-12-14,POD,AUTHORIZED,CASH,...,302.0,302,CASH,-,Driver,NaN,Delivered,TRIP-130513,Y,1
16455,COMPLETE,CPTH82015529,9.0,2022-12-13,2022-12-14,5534.0,2022-12-14,POD,AUTHORIZED,CASH,...,900.0,900,CASH,-,Driver,NaN,Delivered,TRIP-130433,Y,1
16456,COMPLETE,CPTH82015535,1.0,2022-12-13,2022-12-14,6428.0,2022-12-14,POLCC,SETTLED,CreditCard,...,2202.0,-,-,-,Driver,-,Delivered,TRIP-130434,Y,1
16457,COMPLETE,CPTH82015555,3.0,2022-12-13,2022-12-14,5518.0,2022-12-14,POD,AUTHORIZED,TrueMoney,...,121.0,121,TrueMoney,221214123907300OQ39D,Driver,NaN,Delivered,TRIP-130457,Y,1
16458,COMPLETE,CPTH82015606,3.0,2022-12-13,2022-12-14,5017.0,2022-12-14,POD,AUTHORIZED,CASH,...,475.0,475,CASH,NaN,Driver,NaN,Delivered,TRIP-130488,Y,1

In [233]:
raw = raw[raw['Difference'] > 1.0]

In [234]:
raw = raw.reset_index(drop=True)

In [235]:
raw

,OMS Status,Order Reference,Ticket No,Created Date,Status Date,Checkout Store,Checkout Date,Payment Type OMS,Payment Status,Tender Type,...,Order Value,Actual cash at Delivery,Payment Subtype,Transaction Id,Delivered By,Cash Mismatch Reason,Loginext Status,Trip No.,Ready To Dispatch,Difference
0,COMPLETE,CPTH11710259,14.0,2022-12-09,2022-12-11,5024.0,2022-12-10,POLCC,SETTLED,CreditCard,...,5790.00,-,-,-,Driver,-,Delivered,TRIP-128634,N,2
1,COMPLETE,CPTH81975776,48.0,2022-12-09,2022-12-13,5007.0,2022-12-13,PAS,AUTHORIZED,CASH,...,1224.00,1224,CASH,-,Driver,NaN,Delivered,TRIP-128067,N,4
2,COMPLETE,CPTH81975836,67.0,2022-12-09,2022-12-13,5007.0,2022-12-13,PAS,AUTHORIZED,CASH,...,1224.00,1224,CASH,-,Driver,NaN,Delivered,TRIP-128067,N,4
3,COMPLETE,CPTH81975872,64.0,2022-12-09,2022-12-13,5007.0,2022-12-13,PAS,AUTHORIZED,CASH,...,1224.00,1224,CASH,-,Driver,NaN,Delivered,TRIP-128067,N,4
4,COMPLETE,CPTH81975920,38.0,2022-12-09,2022-12-13,5007.0,2022-12-13,PAS,AUTHORIZED,CASH,...,1224.00,1224,CASH,-,Driver,NaN,Delivered,TRIP-128067,N,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,COMPLETE,CPTH82006931,3.0,2022-12-12,2022-12-14,5027.0,2022-12-14,POD,AUTHORIZED,CASH,...,2017.00,2017,CASH,-,Driver,NaN,Delivered,TRIP-130401,Y,2
1136,COMPLETE,CPTH82007300,4.0,2022-12-12,2022-12-14,5096.0,2022-12-14,POD,AUTHORIZED,NaN,...,1543.25,1543.25,-,-,DASHBOARD,-,Delivered,TRIP-130055,Y,2
1137,COMPLETE,CPTH82007336,55.0,2022-12-12,2022-12-14,5015.0,2022-12-13,POLCC,SETTLED,CreditCard,...,536.00,-,-,-,Driver,-,Delivered,TRIP-130435,Y,2
1138,COMPLETE,CPTH82007423,3.0,2022-12-12,2022-12-14,5096.0,2022-12-14,POD,AUTHORIZED,NaN,...,2007.50,2007.5,-,-,DASHBOARD,-,Delivered,TRIP-130055,Y,2
1139,COMPLETE,CPTH82008041,2.0,2022-12-12,2022-12-14,5004.0,2022-12-14,POD,AUTHORIZED,CASH,...,977.00,977,CASH,-,Driver,NaN,Delivered,TRIP-130484,Y,2

In [236]:
raw.to_excel(path+"postpone.xlsx")